################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrategyDesignPattern/.vs
/StrategyDesignPattern/StrategyDesignPattern/bin/Debug/net6.0
/StrategyDesignPattern/StrategyDesignPattern/obj
/ObserverDesignPattern/ObserverDesignPattern/.vs/ObserverDesignPattern
/ObserverDesignPattern/ObserverDesignPattern/ObserverDesignPattern/obj
/ObserverDesignPattern/ObserverDesignPattern/ObserverDesignPattern/bin/Debug/net6.0
/DecoratorDesignPattern/.vs/DecoratorDesignPattern
/DecoratorDesignPattern/DecoratorDesignPattern/bin/Debug/net6.0
/DecoratorDesignPattern/DecoratorDesignPattern/obj
/DecoratorDesignPattern/.vs/ProjectEvaluation
/FactoryDesignPattern/.vs/FactoryDesignPattern
/FactoryDesignPattern/FactoryDesignPattern/bin/Debug/net6.0
/FactoryDesignPattern/FactoryDesignPattern/obj
/AbstractFactory/.vs/AbstractFactory
/AbstractFactory/AbstractFactory/bin/Debug/net6.0
/AbstractFactory/AbstractFactory/obj
/FactoryDesignPattern/.vs/ProjectEvaluation
/AbstractFactory/.vs/ProjectEvaluation
/TicTacToeGame/.vs/TicTacToeGame
/TicTacToeGame/TicTacToeGame/obj
/ChainofResponsibility/.vs/ChainofResponsibility
/ChainofResponsibility/ChainofResponsibility/bin/Debug/net6.0
/ChainofResponsibility/ChainofResponsibility/obj
/TicTacToeGame/.vs/ProjectEvaluation
